export TWITTER_CONSUMER_KEY=<<Your twitter consumer key>>
export TWITTER_CONSUMER_SECRET=<<Your twitter consumer secret>>
export TWITTER_ACCESS_TOKEN_KEY=<<Your twitter access token key>>
export TWITTER_ACCESS_TOKEN_SECRET=<<Your twitter access token secret>>
export GOOGLE_SERVICE_CLIENT_EMAIL=<<Google service account client email>>
export GOOGLE_SERVICE_PRIVATE_KEY=<<Google service account private key>>
